.container {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 20px;
}

.one {
  /*!*grid-template-columns: 65% 35%;*!*/
  /*grid-column-gap: 20px;*/
  width: 40%;
}
.two {
  grid-auto-columns: auto;
  grid-column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.form-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}
.three {
  grid-auto-columns: auto;
  grid-column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;

}

